<div class="pomodoro flexCol" data-pomo="<%= pomo._id %>">
    <div class="pomo--upper flexRow">
        <div class="flexRow">
            <button class="button--transparent"><%- partial('svgs/check-circle') %></button>
            <h3><%= pomo.title %></h3>
        </div>
        <button class="pomodoro__button--edit" id="editFormBtn" data-pomo="<%= pomo._id %>"><%- partial('svgs/list-real', { pomo }) %></button>
    </div>
    <% if(pomo.description) { %>
        <p><%= pomo.description %></p>
    <% } %>
</div>

<%- partial('editForm', { pomo }) %>